html, body, main {
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

button {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

input {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

#query {
  display: flex;
  padding: 7px;
}

.extradiv {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.text-input {
  height: 50%;
}

.save-button {
  background-color: #EAEAF4;
  margin: 0px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 5px;
}

.active:hover {
  background-color: #5356A4;
  cursor: pointer;
}

.side-bar {
  background-color: #1F1F3D;
  width: 20%;
  height: 841px;
}

.nav-title {
  color: #E9E9F3;
  margin-top: 0px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #353567;
}

.starred-section {
  padding-bottom: 10px;
  border-bottom: 2px solid #353567;
}

.filter {
  color: #BFBFDD;
  padding-left: 20px;
  padding-bottom: 8px;
}

.show-starred-button {
  background-color: #5356A4;
  color: #E9E9F3;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 85%;
  font-size: x-large;
  border: 2px solid #353567;
}

img {
  height: 25px;
  width: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: 210px 210px 210px;
  grid-template-rows: 250px 250px;
  gap: 10px;
}

.savedGridContainer{
  background-color: #EAEAF4;
  padding: 25px;
}

.cardDiv {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #1F1F3D;
  background-color: white;
  border: 2px solid #1F1F3D;
  word-break: break-all;
  min-width: 210px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #1F1F3D;
}

.title {
  font-weight: bold;
  margin: 0px;
}


.text-holder {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-wrap: wrap;
}

.footer-text {
  color: #E9E9F3;
  margin: 0px;
}

.footer {
  display: flex;
  align-content: center;
  align-items: center;
  color: #E9E9F3;
  background-color: #5356A4;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.section-container {
  background-color: #A9AAD2;
  display: flex;
  justify-content: center;
  padding: 25px;
}

/* .form-container {
  border: 2px solid black;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.main-content {
  display: flex;
  flex-direction: column;
}

.button-color {
  background-color: #1F1F3D;
}

.button-container {
  display: flex;
  align-items: center;
  border: thin solid #5356A4;
  border-radius: 2px;

}

.form < label {
background-color: #FFFFFF;
/* font-family: */
font-size: 14px;
color: #1F1F3D;
border-color: #353567;
border-width: thin;
display: flex;

}

.form > button {
background-color: #5356A4;
/* font-family: */
font-size: 14px;
color: #E9E9F3;
border-color: #353567;
border-width: thin;
display: flex;
flex-direction: center;
padding: 10px;
margin: 0px;
